.svg {
  overflow: visible !important;
}

.chart {
  position: relative;
}

.x-axis, .y-axis {
  font: 16px Arial sans-serif;
  stroke: $offWhite;

  line, path, text {
    stroke: $offWhite;
  }

  text {
    fill: $offWhite;
    letter-spacing: 3px;
    font-size: 1.2em;
  }
}

.x-legend, .y-legend{
  font-size: 1.3em;
  font-weight: 800;
  fill: $offWhite;
  letter-spacing: 5px
}

.tooltip {
  position: absolute;
  text-align: left;
  width: auto;
  height: auto;
  padding: 3px 5px 3px 5px;
  font: 1em sans-serif;
  border: 0px;
  border-radius: 5px;
  pointer-events: none;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  background-color: #D2B48C;
}

.fiat {
  font-weight: 800;
}

// .plots {
//   fill: #FFA600;
//   transition: fill 800ms ease;
// }

// .plots-over {
//   fill: #E6BF77;
// }
.plots {
  r: 9;
}

.svg-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.selecting {
  position: absolute;
  top: 5em;
  left: 30em;
  height: 3em;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: border-radius;
  transition-property: border-radius;

  &:hover, &:focus, &:active {
    border-radius: 1em;
  }
}


